[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "==0.13.0"
flask = "==1.1.2"
sqlalchemy = "==1.4.12"
flask-restful = "==0.3.8"
flask-sqlalchemy = "==2.5.1"
jsonify = "==0.5"
requests = "==2.25.1"
bcrypt = "==3.2.0"
flask-bcrypt = "==0.7.1"
python-dotenv = "==0.17.1"
psycopg2-binary = "==2.8.6"
werkzeug = "==0.16.1"
flask-jwt-extended = "==4.1.0"
flask-cors = "==3.0.8"
six = "==1.14.0"
python-jose = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.8"
