[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
flask = "*"
sqlalchemy = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
jsonify = "*"
requests = "*"
bcrypt = "*"
flask-bcrypt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
werkzeug = "==0.16.1"
[dev-packages]

[requires]
python_version = "3.8"
